@font-face {
    font-family: Guns n Roses;
    src: url('../fontes/fonte\ guns\ n\ roses.ttf') format("truetype");
    /*Fonte usada pelo Guns N' Roses baixada da internet*/
}

:root {
    --fundo: black;
    --texto: white;
    --link: yellow;
    --fundo-th: #222222;
    --fundo-caixa: #111111;
    --borda-caixa: #222222;
    --verde: darkgreen;
    --vermelho: darkred;
}

.claro:root {
    --fundo: white;
    --texto: black;
    --link: darkgoldenrod;
    --fundo-th: #eaecf0;
    --fundo-caixa: #eeeeee;
    --borda-caixa: #dddddd;
    --verde: #ddffdd;
    --vermelho: #ffdddd;
}

html,
body {
    width: 100%;
    min-width: 620px;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    font: normal 20pt Guns n Roses;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--fundo);
    border-bottom: 3px solid var(--texto);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

h1 {
    font: normal 50pt Guns n Roses;
    white-space: nowrap;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    color: var(--texto);
    text-decoration: none;
    transition: all .6s ease;
}

a:hover {
    color: var(--link);
    text-decoration: underline;
}

th {
    background-color: var(--fundo-th);
}

abbr {
    text-decoration: none;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-width: 650px;
    border-top: 1px solid var(--texto);
    padding-top: 20px;
}

.imagem {
    border-radius: 25px;
}

.icone {
    height: 16px;
    width: auto;
}

.caixa {
    text-align: center;
    background-color: var(--fundo-caixa);
    border: 5px solid var(--borda-caixa);
    border-radius: 25px;
    font-size: 15pt;
    width: 30%;
    padding: 10px;
    display: inline;
}

.textocaixa {
    display: inline;
    width: 60%;
}

.verde {
    background-color: var(--verde);
}

.vermelho {
    background-color: var(--vermelho);
}